.product-img {
    height: 250px;
    object-fit: contain;
}
.nav-search {
    width: 200px;
}
.product-card .card {
    transition: 0.3s;
}
.product-card .card:hover {
    transform: translateY(-8px);
}
.Zevora{
    transition: 0.3s;
}

.Zevora:hover{
    transform: scale(1.05);
}
.banner-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.product-detail-img {
    height: 400px;
    object-fit: contain;
}
.cart-img {
    height: 250px;
    object-fit: contain;
}
@media (max-width: 991px) {
    .nav-tools {
        width: 100%;
    }

    .nav-search {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .banner-img {
        height: 250px;
    }

    .product-img {
        height: 150px;
    }

    .product-card .card-body {
        padding: 10px;
    }

    .product-card .product-name {
        font-size: 15px;
    }

    .product-card .product-brand,
    .product-card .product-rating {
        font-size: 13px;
    }

    .product-card .product-price {
        font-size: 16px;
    }

    .product-card .btn,
    .product-card .show-details {
        font-size: 13px;
    }
    .product-detail-img {
        height: 280px;
    }
    .cart-img {
        height: 150px;
    }

    .cart-name {
        font-size: 15px;
    }

}
